*~
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.eps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
Antarctica_5km_dev1.0.nc
notes.pdf
slides.pdf
phoenix/phoenix.pdf
ice_bib.bib
dampnotes.pdf
